{% extends 'app/main.html' %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>修改密码</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" method="post" action="{% url 'change-password' %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}
            {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn--main">更改密码</button>
        </form>
      </div>
    </div>
  </div>
  {% if success %}
  {% if page == 'change' %}
  <script>alert('{{success}}'); window.location.href = "{% url 'home' %}";</script>
  {% elif page == 'forgot' %}
  <script>alert('{{success}}'); window.location.href = "{% url 'login' %}";</script>
  {% endif %}
  {% endif %}
</main>
{% endblock content %}